.container {
  text-align: center;
  margin-top: 50px;
  background-color: rgb(220, 211, 228);
  max-width: 100%;
  width: 350px;
  height: 350px;
  margin-left: 700px;
  border: 3px solid rebeccapurple;
  border-radius: 10px;
}
.fn {
  padding: 7px;
  width: 200px;
  margin: 8px;
  border-radius: 5px;
  border: none;
}
.button {
  background-color: rgb(174, 119, 210);
  margin-top: 30px;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;

  width: 120px;
  border-radius: 5px;
}
/* .main{
    background-image: url("hotel3.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    margin-left: 10px;
} */
.admin {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 12px;
  margin: 20px;
  color: black;
  display: flex;
  font-weight: 500;
  background-color: rgb(191, 161, 219);
}
